.profile {
  height: auto;
  display: flex;
  font-size: 1.5em;
  font-weight: bolder !important;
  /*margin-left: 1rem !important;*/
  /*margin-right: 1rem !important;*/
  border-radius: 1rem !important;
}
