.profile {
    height: auto;
    display: flex;
    font-size: 1.5em;
    font-weight: bolder !important;
    margin-left: 30px;
    margin-right: 30px !important;
    border-radius: 30rem !important;
}